<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.welcome.home.playandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".app.PlayAndroidApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎页 -->
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/FullWindowTran">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 首页 -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait" />

        <!-- X5浏览器 -->
        <!--<activity-->
        <!--android:name=".activity.BrowserActivity"-->
        <!--android:configChanges="orientation|screenSize|keyboardHidden"-->
        <!--android:label="@string/app_name" />-->

        <!--&lt;!&ndash; 列表内列表页 &ndash;&gt;-->
        <!--<activity-->
        <!--android:name=".activity.ColumnContentActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection"-->
        <!--android:screenOrientation="portrait" />-->

        <!--&lt;!&ndash; 注册或登录界面 &ndash;&gt;-->
        <!--<activity-->
        <!--android:name=".activity.RegisterOrLoginActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/FullWindowTran" />-->

        <!--&lt;!&ndash; 收藏界面 &ndash;&gt;-->
        <!--<activity-->
        <!--android:name=".activity.CollectionActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize|layoutDirection"-->
        <!--android:screenOrientation="portrait" />-->
    </application>

</manifest>